<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "provided by SCUT", root_path, id: "logo" %>
<nav>
<ul class="nav navbar-nav pull-right">
<li><%= link_to "主页", root_path %></li>
<li><%= link_to "帮助", help_path %></li>
<% if logged_in? %>
<li><%= link_to "预处理", "http://www.baidu.com" %></li>
<li><%= link_to "OLAP分析", "http://www.baidu.com" %></li>
<li><%= link_to "报表展示", "http://www.baidu.com" %></li>
<li><%= link_to "其他成员", users_path %></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
账户 <b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><%= link_to "资料", current_user %></li>
<li><%= link_to "设置", edit_user_path(current_user) %></li>
<li class="divider"></li>
<li>
<%= link_to "登出", logout_path, method: "delete" %>
</li>
</ul>
</li>
<% else %>
<li><%= link_to "登陆", login_path %></li>
<% end %>
</ul>
</nav>
</div>
</header>
